aiofiles        
aiohappyeyeballs
aiohttp
aiosignal
alembic
altair
annotated-types
anyio
asgiref
attrs
azure-ai-documentintelligence
azure-core
backoff
bcrypt
beautifulsoup4
blinker
build
cachetools
certifi
cffi
chardet
charset-normalizer
chroma-hnswlib
chromadb
click
colorama
coloredlogs
colorlog
cryptography
dataclasses-json
Deprecated
docx2txt
durationpy
emoji
et_xmlfile
eval_type_backport
fastapi
filelock
filetype
flatbuffers
frozenlist
fsspec
gitdb
GitPython
google-auth
googleapis-common-protos
greenlet
grpcio
h11
html5lib
httpcore
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
isodate
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kubernetes
langchain
langchain-community
langchain-core
langchain-ollama
langchain-text-splitters
langdetect
langsmith
lxml
Mako
markdown-it-py
MarkupSafe
marshmallow
mdurl
mmh3
monotonic
mpmath
multidict
mypy-extensions
mysql
mysql-connector-python
mysqlclient
narwhals
nest-asyncio
nltk
numpy
oauthlib
olefile
ollama
onnxruntime
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
optuna
orjson
overrides
packaging
pandas
passlib
pdfkit
pillow
posthog
propcache
protobuf
psutil
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
pypdf
PyPDF2
PyPika
pyproject_hooks
pyreadline3
python-dateutil
python-docx
python-dotenv
python-iso639
python-magic
python-multipart
python-oxmsg
pytz
PyYAML
rank-bm25
RapidFuzz
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
scikit-learn
scipy
setuptools
shellingham
six
smmap
sniffio
soupsieve
SQLAlchemy
starlette
streamlit
sympy
tenacity
threadpoolctl
tokenizers
toml
tornado
tqdm
typer
typing-inspect
typing-inspection
typing_extensions
tzdata
unstructured
unstructured-client
urllib3
uvicorn
watchdog
watchfiles
webencodings
websocket-client
websockets
wkhtmltopdf
wrapt
yarl
zipp
PyJWT
yandexcloud
yandex-cloud-ml-sdk 